body {
    margin: 0;
}

h1 {
    color: #85E6C5;
    font-family: "Play", sans-serif;
    line-height: 1.5;
    size: 3rem;
    font-weight: 700;
    padding-bottom: 20%;
}


/* Title */

#title {
    background-color: #003C43;
}

.btn {
    padding: 2% 8%;
}

.download-button {
    margin: 5% 5% 5% 3%;
}

.container-fluid {
    padding: 2% 15% 3% 10%;
}

.Logo {
    padding: 15% 15% 15% 0;
}

.navbar {
    padding: 0 10% 10% 10%;
    margin: 0;
}

.title-logo {
    width: 60%;
    padding-top: 2%;
}

.nav-item {
    padding: 0 5%;
}

.nav-link {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 1.2rem;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    margin-left: 33%;
    margin-top: 20%;
}



/* Popular */


h3 {
    color: azure;
}

p {
    color: #CCC8AA
}


#popular {
    background-color: #006769;
    padding-bottom: 5%;
}

.most-popular {
    color: #85E6C5;
    font-family: "Play", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    padding: 5% 0 2% 0;
}

.row {
    margin: 0;
}

.anime-logo {
    width: 70%;
}

.anime-logo-header {
    text-align: center;
    margin: 30% auto 30% auto;
}

.anime-logo-details {
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

.OP {
    margin-top: 10%;
    margin-bottom: 3%;
    padding-bottom: 4%;
}

.NS {
    padding-bottom: 4%;
}

.AOT {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 4%;
}

.SL {
    width: 50%;
    margin-bottom: 0%;
    margin-top: 0%;
}