body {
    margin: 0;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Montserrat-bold ", sans-serif;
    line-height: 1.5;
    size: 2rem;
}


p {
    color: #B6B09F;
    font-family: "Montserrat-Light", sans-serif;
    font-weight: 500;
}



/* Headings */

.dark-bg {
    background-color: #003C43;
}

.light-bg {
    background-color: #006769;;
}



/* Combined */

#title, .home-text, .pricing-box {
    font-family: "Play", sans-serif;
    padding-bottom: 5%;
    size: 3rem;
    color: #85E6C5;
}

#title .home-text {
    font-weight: 800;
    text-align: center;
}

#movies, #wallpapers {
    text-align: center;
    padding-bottom: 50px;
}

.pricing-box:hover, .carousel-item:hover, .anime-logo:hover, .pricing-box:hover  {
    transform: scale(1.1);
    transition: 0.3s;
    padding-top: 4%;
}

.OP, .NS, .AOT {
    padding-bottom: 4%;
}



/* Title */

.btn {
    padding: 2% 8%;
}

.download-button {
    margin: 0% 3% 0% 3%;
    font-size: 1.5rem;
}

.fa-brands {
    font-size: 500px;
}

.container-fluid {
    padding: 0;
}

.Logo {
    padding: 0% 10% 5% 0;
}

.navbar {
    background-color: #003C43;
    padding: 1% 25% 1% 7%;
    margin: 0;
    position: fixed;
    z-index: 1;
    
}

.navbar-brand {
    margin-right: 0;
}

.navbar-collapse {
    margin-left: 320PX;
}

.title-row {
    padding-top: 110px;
    padding-bottom: 50px;
}

.intro {
    padding-left: 150px;
}

.title-logo {
    width: 200px;
    padding-top: 2%;
}

.nav-item {
    padding: 0 5%;
}

.nav-link {
    font-family: "Montserrat-Light", sans-serif;
    font-size: 1.2rem;
}


.title-image {
    width: 20%;
    transform: rotate(25deg);
    margin-left: 10%;
    margin-top: 3.5%;
    position: absolute;
}



/* Popular */

#popular, .final-download {
    padding-bottom: 3%;
    position: relative;
    text-align: center;
}

.focus-text {
    color: azure;
}

.options {
    color: #85E6C5;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    padding: 1% 0 1% 0;
}

.row {
    margin: 0;
}

.anime-logo {
    width: 70%;
}

.anime-logo-header {
    text-align: center;
    margin: 15% auto 15% auto;
}

.anime-logo-details {
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
}

.OP {
    margin-top: 10%;
    margin-bottom: 3%;
}

.AOT {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.SL {
    width: 50%;
    margin-bottom: 0%;
    margin-top: 0%;
}



/* <!-- TV Series --> */






#tv-series {
    padding: 1% 15% 0 15%;
    text-align: center;
    color: #fff;
}

.carousel-item {
    padding: 0 5%;
}

.tv-series-gif {
    width: 70%;
    padding: 0 5%;
}

.series-intro {
    padding: 3% 10% 5% 10%;
    font-size: 1.2em;
}



/* Movies */

.poster {
    height: 450px;
    padding-top: 20px;
}



/* Wallpapers */

.wall-char {
    height: 400px;
}



/* Pricing */

#pricing {
    padding: 3% 15% 2% 15%;
    text-align: center;
    color: #fff;
}

.standard {
    background: #ede8b9;
    background-image: -webkit-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: -moz-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: -ms-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: -o-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: linear-gradient(to bottom, #ede8b9, #a8a49f);
}

.premium {
    background: #d9cb34;
    background-image: -webkit-linear-gradient(top, #d9cb34, #b8842b);
    background-image: -moz-linear-gradient(top, #d9cb34, #b8842b);
    background-image: -ms-linear-gradient(top, #d9cb34, #b8842b);
    background-image: -o-linear-gradient(top, #d9cb34, #b8842b);
    background-image: linear-gradient(to bottom, #d9cb34, #b8842b)
}


.btn-block {
    padding: 0 25%;
    text-align: center;
}

.features-mobile {
    color: black;
    font-size: 0.8rem;
    font-weight: 1;
}

.button-premium {
    color: black;
    background: #d9cb34;
    background-image: -webkit-linear-gradient(top, #d9cb34, #b8842b);
    background-image: -moz-linear-gradient(top, #d9cb34, #b8842b);
    background-image: -ms-linear-gradient(top, #d9cb34, #b8842b);
    background-image: -o-linear-gradient(top, #d9cb34, #b8842b);
    background-image: linear-gradient(to bottom, #d9cb34, #b8842b)
}

.button-standard {
    color: black;
    background: #ede8b9;
    background-image: -webkit-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: -moz-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: -ms-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: -o-linear-gradient(top, #ede8b9, #a8a49f);
    background-image: linear-gradient(to bottom, #ede8b9, #a8a49f);
}



/* <!-- Call to Action --> */

#cta {
    text-align: center;
    padding-top: 10px;
}

.all-anime {
    height: 300px;
    padding: 30px 0 0 0;
}

.cta-heading {
    font-family: "Montserrat-bold ", sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 3%;
}

.first-cta-heading {
    padding: 3% 5% 0 5%;
}

.second-cta-heading {
    padding: 0 5% 3% 5%;
}




/* <!-- Footer --> */

#footer {
    padding: 1%;
    text-align: center;
}




.social-media {
    height: 30px;
    padding: 1%;
    color: #003C43;
}






@media (max-width: 1000px) {
    

    
    #title {
        padding: 0;
    }

    .container-fluid {
        padding: 0;
    }

    .navbar {
        padding: 20px 70px 20px 80px;
        position: fixed;
        background-color: #003C43;
        z-index: 1;
    }

    .navbar-brand {
        padding-left: 0;
    }

    .navbar-toggler {
        width: 80px;
        padding: 2% 2% 2% 2%;
        margin-left: 550px;
    }

    .intro {
        padding: 0;
        text-align: center;
    }

    .title-row {
        padding-top: 200px;
        padding-bottom: 800px;
        background-color: #003C43;
    }
    
    .title-image {
        width: 40%;
        margin-left: 28%;
        margin-top: 10%;
        position: absolute;
        text-align: center;
    }

    .Logo {
        padding:0%;
        margin: 0%;
        height: 250px;
    }

    .download-button {
        width: 40%;
        font-size: 2rem;
    }

    .ios {
        margin-left: 50px;
    }

    h1 {
        font-size: 4rem;
        padding: 2% 3%;
        text-align: center;
    }

    h2 {
        font-size: 2.5rem;
        padding: 0 0 2% 0;
    }

    h3 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.5rem;
    }

    .anime-logo {
        width: 70%;
        text-align: center;
    }

    .SL {
        margin-bottom: 1%;
        width: 45%;
    }

    #tv-series {
        padding: 1% 1% 0 1%;
        text-align: center;
    }

    .tv-series-gif {
        width: 100%;
    }

    .series-intro {
        font-size: 1.5em;
    }

    .btn-block {
        padding: 0 10%;
    }

    .poster {
    height: 1000px;
    }

    .features-mobile {
        font-size: 1.3rem;
        color: black;
    }

    #pricing {
        padding: 4%;
        text-align: center;
    }

    .plans {
        font-size: 2.2rem;
    }
}

    
